*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    display: flex;
    background-color: teal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

h1{
    font-size: 50px;
    margin: 40px;
    color: #ffffff;
    text-shadow: black 2px 2px 5px;
}

.container{
    margin-top: 50px;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.form-container,form{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.task-container{
    background-color: #ffffff;
    margin-top: 40px;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
}

span{
    font-size: 20px;
}

.input{
    height: 45px;
    width: 75%;
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid grey;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.add-btn{
     background-color: rgb(0, 157, 255);
}

.del-btn{
    background-color: red;
}
